<!-- <div>{{ appState$ | async | json }}</div> -->
<div class="container-xl">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
                  <div class="col-sm-6">
                      <h2>ASF -  Liste traçabilité</h2> 
              </div>
          </div> <br>
          <ng-container>
              <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
                  <table class="table table-striped table-hover" id="tracabilites">
                      <thead>
                          <tr>
                              <th>ID_VOIE</th>
                              <th>MONTANT TRANSACTION</th>
                              <th>Date Opération</th>
                              <th>Date CREATION</th>
                              <th>Date TRANSACTION</th>
                            </tr>
                      </thead>
                      <tbody *ngFor="let tracabilite of appState.appData.data.tracabilites; let i = index" >
                          <tr>
                              <td>{{ tracabilite.rvoieid }}</td>
                              <td>{{ tracabilite.montantTransaction }}</td>
                              <td>{{ tracabilite.dateOperation }}</td>
                              <td>{{ tracabilite.dateCreation }}</td> 
                              <td>{{ tracabilite.dateTransaction }}</td> 
                      </tbody>
                  </table>
              </ng-container>
          </ng-container>
      </div>
  </div>
</div>